<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>403 - Acesso negado</title>
</head>

<body>
<div layout:fragment="conteudo">
    <main class="container">
        <section class="card">
            <h1 class="text-center">Acesso negado 🚫</h1>
            <p class="text-center">
                Você não tem permissão para acessar esta funcionalidade.
            </p>
        </section>
    </main>
</div>
</body>
</html>
